


		<div class="pt-20 lg:pt-40 xl:pt-60">
			<!-- header -->
			<header>
				<div class="relative isolate">
					<div class="mx-auto max-w-7xl px-6 space-y-20 sm:space-y-52 lg:space-y-0 lg:flex lg:items-center lg:gap-x-10 lg:pl-8 lg:pr-20">
						<div class="mx-auto max-w-2xl lg:mx-0 lg:flex-auto">
							<div class="flex">
								<div x-on:mouseover="openError = true" class="relative flex items-center gap-x-4 rounded-full px-4 py-1 leading-6 text-sm xl:text-base text-white xl:font-semibold border border-[#CACACA]/60 bg-transparent hover:bg-[#E730CA] hover:border-transparent transition-colors">
									<a href="#" class="flex items-center gap-x-1">
										New update is arriving 
										<svg class="-mr-2 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
											<path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
										</svg>
									</a>
								</div>
							</div>
							<h1 class="mt-10 max-w-lg text-4xl sm:text-7xl lg:text-6xl font-semibold text-white xl:text-7xl tracking-tight">Discover your own AI  <span class="text-[#FF33DE]">here!</span></h1>
							<p class="mt-6 xl:text-lg font-medium leading-8 text-white max-w-[553px]"></p>
							<div class="mt-10 flex items-center gap-x-6">
								<a href="#" x-on:mouseover="openError = true" class="rounded-xl bg-[#E730CA] w-32 xl:w-40 py-2.5 font-semibold text-sm xl:text-base text-white text-center border border-transparent hover:border-[#E730CA] hover:bg-transparent focus-visible:outline-none focus-visible:outline-0 focus-visible:outline-offset-0 focus-visible:outline-transparent transition-colors">Find AI Products</a>
								<a href="#" x-on:mouseover="openError = true" class="border border-[#E730CA] hover:border-[#E730CA]/30 bg-transparent hover:bg-[#E730CA]/30 rounded-xl w-32 xl:w-40 py-2.5 font-semibold leading-6 text-sm xl:text-base text-[#E730CA] hover:text-white text-center transition-colors"> Try Now</a>
							</div>
						</div>
						<div class="relative flex justify-center items-center mt-16 sm:mt-24 lg:mt-0 lg:flex-shrink-0 lg:flex-grow">
							<svg class="mx-auto max-w-md max-h-md lg:max-w-full lg:min-w-[445px] lg:max-h-full lg:min-h-[445px] text-gray-300" aria-hidden="true" viewBox="0 0 580 580" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="290" cy="290" r="289.5" stroke="currentColor" stroke-opacity="0.2" />
								<circle cx="290" cy="290" r="231.5" stroke="currentColor" stroke-opacity="0.2" />
							</svg>


<!--  circle viz  -->
							<div class="circle w-full h-full max-w-md max-h-md lg:max-w-full lg:min-w-[445px] lg:max-h-full lg:min-h-[445px]" style="--total: 12">

								<!-- product 1 -- katsy  -->
								<div class="stat" style="--i:3">
									<div class="flex items-end mr-[55px] 2xl:mr-0 w-[85px] sm:w-[175px] h-[126px] sm:h-[225px] 2xl:w-[200px] 2xl:h-[250px] rounded-md sm:rounded-2xl 2xl:rounded-3xl bg-center bg-cover bg-no-repeat scale-[0.6] sm:scale-100 overflow-hidden transition-all" style="background-image: url('https://siddh-kivtechs.github.io/ai_image_gen//ai-generated-7770511_1.avif'); animation: float 6s ease-in-out infinite;">
										<div class="hidden sm:block flex-1 bg-white h-[95px] px-4 glass">
											<h4 class="text-xs font-bold text-[#161616] py-4 truncate max-w-[145px] 2xl:max-w-none">KATSY</h4>
											<div class="flex items-center justify-between font-bold text-[0.625rem]">
												<div class="flex flex-col">
													<span class="text-[#646464]">MODEL</span>
													<span class="flex items-center space-x-1 text-[#161616]">
														<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
															<path fill-rule="evenodd" clip-rule="evenodd" d="M8 16C3.5815 16 0 12.4185 0 8C0 3.5815 3.5815 0 8 0C12.4185 0 16 3.5815 16 8C16 12.4185 12.4185 16 8 16ZM11.997 8.1095L8.249 2L4.5 8.11L8.249 10.2865L11.997 8.1095ZM12 8.808L8.249 10.9835L4.5 8.8085L8.249 13.9975L12 8.808Z" fill="#F1F1F1" />
															<path d="M8.24902 2V6.435L11.9975 8.11L8.24902 2ZM8.24902 10.984V13.9975L12 8.808L8.24902 10.984Z" fill="blue" fill-opacity="0.298" />
															<path d="M8.24902 10.2865L11.9975 8.11003L8.24902 6.43604V10.2865Z" fill="blue" fill-opacity="0.801" />
															<path d="M4.5 8.11003L8.249 10.2865V6.43604L4.5 8.11003Z" fill="blue" fill-opacity="0.298" />
														</svg>
														<span>GPT-4</span>
													</span>
												</div>
												<div>
													<a href="https://katsy.kivtechs.cloud/">
													<button type="button" class="text-[#161616] hover:text-[#E730CA] border rounded-full border-[#161616] hover:border-[#E730CA] w-12 h-6 transition-colors">
														Try Now
													</button>
												</a>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!--  product 2 samira / mira / amira  -->
								<div class="stat" style="--i:7">
									<div class="flex items-end mr-[55px] 2xl:mr-0 w-[85px] sm:w-[175px] h-[126px] sm:h-[225px] 2xl:w-[200px] 2xl:h-[250px] rounded-md sm:rounded-2xl 2xl:rounded-3xl bg-center bg-cover bg-no-repeat scale-[0.6] sm:scale-100 overflow-hidden transition-all" style="background-image: url('https://siddh-kivtechs.github.io/ai_image_gen/artificial-intelligence-7965009_1.avif'); animation: float 8s ease-in-out infinite;">
										<div class="hidden sm:block flex-1 bg-white h-[95px] px-4 glass">
											<h4 class="text-xs font-bold text-[#161616] py-4 truncate max-w-[145px] 2xl:max-w-none">MIRA </h4>
											<div class="flex items-center justify-between font-bold text-[0.625rem]">
												<div class="flex flex-col">
													<span class="text-[#646464]">Models </span>
													<span class="flex items-center space-x-1 text-[#161616]">
														<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
															<path fill-rule="evenodd" clip-rule="evenodd" d="M8 16C3.5815 16 0 12.4185 0 8C0 3.5815 3.5815 0 8 0C12.4185 0 16 3.5815 16 8C16 12.4185 12.4185 16 8 16ZM11.997 8.1095L8.249 2L4.5 8.11L8.249 10.2865L11.997 8.1095ZM12 8.808L8.249 10.9835L4.5 8.8085L8.249 13.9975L12 8.808Z" fill="#F1F1F1" />
															<path d="M8.24902 2V6.435L11.9975 8.11L8.24902 2ZM8.24902 10.984V13.9975L12 8.808L8.24902 10.984Z" fill="blue" fill-opacity="0.298" />
															<path d="M8.24902 10.2865L11.9975 8.11003L8.24902 6.43604V10.2865Z" fill="blue" fill-opacity="0.801" />
															<path d="M4.5 8.11003L8.249 10.2865V6.43604L4.5 8.11003Z" fill="blue" fill-opacity="0.298" />
														</svg>
														<span> Dalle 3 </span>
													</span>
												</div>
												<div>
													<button type="button" class="text-[#161616] hover:text-[#E730CA] border rounded-full border-[#161616] hover:border-[#E730CA] w-12 h-6 transition-colors">
														Try Now
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!--  product 3 . DOcxy -->
								<div class="stat" style="--i:11">
									<div class="flex items-end mr-[55px] 2xl:mr-0 w-[85px] sm:w-[175px] h-[126px] sm:h-[225px] 2xl:w-[200px] 2xl:h-[250px] rounded-md sm:rounded-2xl 2xl:rounded-3xl bg-center bg-cover bg-no-repeat overflow-hidden transition-all" style="background-image: url('https://siddh-kivtechs.github.io/ai_image_gen/books-7681925_1280.avif'); animation: floatdown 6.5s ease-in-out infinite;">
										<div class="hidden sm:block flex-1 bg-white h-[95px] px-4 glass">
											<h4 class="text-xs font-bold text-[#161616] py-4 truncate max-w-[145px] 2xl:max-w-none">DOcxy</h4>
											<div class="flex items-center justify-between font-bold text-[0.625rem]">
												<div class="flex flex-col">
													<span class="text-[#646464]">Models</span>
													<span class="flex items-center space-x-1 text-[#161616]">
														<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
															<path fill-rule="evenodd" clip-rule="evenodd" d="M8 16C3.5815 16 0 12.4185 0 8C0 3.5815 3.5815 0 8 0C12.4185 0 16 3.5815 16 8C16 12.4185 12.4185 16 8 16ZM11.997 8.1095L8.249 2L4.5 8.11L8.249 10.2865L11.997 8.1095ZM12 8.808L8.249 10.9835L4.5 8.8085L8.249 13.9975L12 8.808Z" fill="#F1F1F1" />
															<path d="M8.24902 2V6.435L11.9975 8.11L8.24902 2ZM8.24902 10.984V13.9975L12 8.808L8.24902 10.984Z" fill="blue" fill-opacity="0.298" />
															<path d="M8.24902 10.2865L11.9975 8.11003L8.24902 6.43604V10.2865Z" fill="blue" fill-opacity="0.801" />
															<path d="M4.5 8.11003L8.249 10.2865V6.43604L4.5 8.11003Z" fill="blue" fill-opacity="0.298" />
														</svg>
														<span> GPT 4,4-0</span>
													</span>
												</div>
												<div>
													<button type="button" class="text-[#161616] hover:text-[#E730CA] border rounded-full border-[#161616] hover:border-[#E730CA] w-12 h-6 transition-colors">
														Try Now
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</header>
			<main class="max-w-[1240px] mx-auto pb-32">
				<!-- partners  -->
				<section class="my-20 sm:my-60">
							<h2 class="my-10 text-2xl sm:text-[2.5rem] font-semibold tracking-tight text-white"> Our  <span class="text-[#FF33DE]">Technology 🤖  Partners  🤝 </span></h2>
					<div class="grid grid-cols-4 items-center gap-x-8 gap-y-12 sm:grid-cols-6 sm:gap-x-10 sm:gap-y-14 lg:mx-0 lg:grid-cols-5">
						<img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://siddht1.github.io/dashboard_p1/assets/images/products/azure.svg" alt="AZURE" width="158" height="48">
						<img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://siddh-kivtechs.github.io/partner/openaigreen.svg" alt="OPEN AI" width="158" height="48">
						<img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://siddh-kivtechs.github.io/partner/microsoft.svg" alt="Microsoft" width="158" height="48">
						<img class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1" src="https://siddh-kivtechs.github.io/partner/aws.svg" alt="AWS" width="158" height="48">
						<img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1" src=https://siddh-kivtechs.github.io/partner/google.svg alt="Google" width="158" height="48">
					</div>
				</section>
<!--  mentors sections  -->
				<section class="my-20 sm:my-60">
							<h2 class="my-10 text-2xl sm:text-[2.5rem] font-semibold tracking-tight text-white"> Our  <span class="text-[#FF33DE]">Mentors 🎓 </span></h2>
					<div class="grid grid-cols-4 items-center gap-x-8 gap-y-12 sm:grid-cols-6 sm:gap-x-10 sm:gap-y-14 lg:mx-0 lg:grid-cols-5">
						<img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://siddh-kivtechs.github.io/physicalpartner/startupindia.avif" alt="STARTUPINDIA" width="240" height="120">
						<img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://siddh-kivtechs.github.io/physicalpartner/nasscom.avif" alt="NASSCOM" width="240" height="48">

						<img class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1" src="https://siddh-kivtechs.github.io/physicalpartner/wadhwani.avif" alt="wadhwani" width="240" height="48">
						<img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1" src="https://siddh-kivtechs.github.io/physicalpartner/startinup.avif" alt="StartinUP" width="240" height="48">
							<img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1" src="https://siddh-kivtechs.github.io/physicalpartner/sidbi.avif" alt="Sidbi" width="240" height="48">
					</div>
				</section>
				<!-- Grid tabs -->
				<!-- Tabs -->
				<section x-data="{
        selectedId: null,
        init() {
            // Set the first available tab on the page on page load.
            this.$nextTick(() => this.select(this.$id('tab', 1)))
        },
        select(id) {
            this.selectedId = id
        },
        isSelected(id) {
            return this.selectedId === id
        },
        whichChild(el, parent) {
            return Array.from(parent.children).indexOf(el) + 1
        }
    }" x-id="['tab']" class="px-6 lg:px-8">

    
					<h2 class="my-10 text-2xl sm:text-[2.5rem] font-semibold tracking-tight text-white">Hot Products <span class="text-[#FF33DE]">For You! 🔥</span></h2>
					<!-- Tab List -->
					<ul x-ref="tablist" @keydown.right.prevent.stop="$focus.wrap().next()" @keydown.home.prevent.stop="$focus.first()" @keydown.page-up.prevent.stop="$focus.first()" @keydown.left.prevent.stop="$focus.wrap().prev()" @keydown.end.prevent.stop="$focus.last()" @keydown.page-down.prevent.stop="$focus.last()" role="tablist" class="mb-6 gap-y-2 gap-x-8 flex flex-wrap max-w-screen-xl mx-auto">
						<!-- Tab -->
					</div>
				</section>


				</section>
			</main>

		</div>
	</div>


<!-- partial -->

