

<head>
  <meta charset="UTF-8">
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title id="dynamic-title"><%= pageTitle ? pageTitle : 'Home' %></title>
<script>
    // JavaScript to dynamically update the title
    const titles = [
        "<%= pageTitle ? pageTitle : 'Home' %>", // Current page
        "Landing",                              // Current part
        "kivtechs.cloud"                        // Brand name
    ];
    
    let currentIndex = 0;

    function updateTitle() {
        currentIndex = (currentIndex + 1) % titles.length; // Cycle through titles
        document.title = titles[currentIndex];
    }

    // Change the title every 3 seconds
    setInterval(updateTitle, 3000);
</script>


   
   <!-- Favicon icon -->
    <link rel="icon" href="https://siddh-kivtechs.github.io/logo/logo.svg" type="image/svg+xml" sizes="16x16">
  <link rel="stylesheet" href="https://siddhbose-kivtechs.github.io/prima//style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

